@model IEnumerable<Yoyu_proje10_.Models.KiralamaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2>Kiralama Listele</h2>

<p>
    @Html.ActionLink("Create New", "EY")
</p>
<table class="table" bgcolor="#808080">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusteriNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KiralamaBaslangicTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KiralamaBitisTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KiralamakIstediginSanatciVeEser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KiralamaBaslangicTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KiralamaBitisTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KiralamakIstediginSanatciVeEser)
        </td>
        <td>
            @Html.ActionLink("Edit", "EY", new { id = item.KiralamaNo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.KiralamaNo })
        </td>
    </tr>
}

</table>
